# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks
*.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Audio and output results
*.wav
*.mp3
*.png
*.jpg
*.jpeg
*.bmp

# IDE files
.vscode/
.idea/
